*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F8F4E3;
}

/* =============
    Odin Recipes
==============*/

.odin {
    text-align: center; 
    margin: 0;
    padding: 100px 50px 0px 50px;
    font-size: 4em;
    font-weight: 1000;
    color: #2E2F2C;
}

.container {
    font: bold 25pt 'Lucida Sans', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    padding: 50px;
}

.container .recipe {
    margin: 50px;
    background-color: #916953;
}

img {
    margin: 30px 30px 10px;
    width: 400px;
    height: 400px;
    object-fit: cover;
    vertical-align: top;
}

.recipe .recipelist {
    list-style-type: none;
    padding: 10px;
    margin: 20px;
    text-align: center;
    color: #F8F4E3;
}

.recipe a {
    display: block;
    text-align: center;
    padding: 10px 40px;
    margin: 0;
    background-color: #916953;
    color: #F8F4E3;
    text-decoration: none;
    border: 5px solid #916953;
}

.recipe a:hover {
    color: #2E2F2C;
    background-color: #F8F4E3;
    border-color: #F8F4E3;
}

